<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пост добавлен</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="index.html" class="link">Назад</a>

    <h1>Пост добавлен! </h1>

    <div class="post">
        <img src="https://images.unsplash.com/photo-1637141479049-42656cb6b741?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" width="100%" alt="">
        <p>Текст добавленного поста тут</p>
    </div>

    <hr>

    <a href="post_form.html" class="button">Добавить еще пост</a>

</main>
</body>
</html>
