<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "Кот и Хлеб"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="index.html" class="link">Назад</a>

    <h1>Посты по запросу : "{{search}}"</h1>

    <div class="post">
        <img src={{dict_key1}} width="100%" alt="">
        <p>Описание поста : {{dict_key2}}
        </p>
    </div>
    <hr>
    <a href='/post' class="button">Добавить пост</a>

</main>
</body>
</html>
