<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу "Кот и Хлеб"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу : "{{search}}"</h1>
    {%for i in searched_data %}


    <div class="post">
        <img src={{i["pic"]}} width="100%" alt="">
        <p>Описание поста : {{i["content"]}}
        </p>
    </div>
    <hr>
    {% endfor %}
    <a href='/post' class="button">Добавить пост</a>

</main>
</body>
</html>
